h1,h2 {
    color: black;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}

h3 {
    font-family: 'Dancing Script', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Playfair', serif; 
}

.index-body {
   background:  rgb(98, 145, 247);
   text-align: center;
   padding: 160px 20px;
}

.index-body  h1 {
   font-size: 40px;
   margin: 20px;
}

.index-body h2 { 
    font-size: 50px;
}

.btn-primary {
    background: rgb(121, 121, 121);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px;
}

.btn-primary:hover {
    color:black;
}

.body {
    background:  rgb(98, 145, 247);
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }
    10% {
        transform: rotate(14.0deg)
    }
    20% {
        transform: rotate(-8.0deg)
    }
    30% {
        transform: rotate(14.0deg)
    }
    40% {
        transform: rotate(-4.0deg)
    }
    50% {
        transform: rotate(10.0deg)
    }
    60% {
        transform: rotate(0.0deg)
    }
    100% {
        transform: rotate(0.0deg)
    }
}